# 載入數據

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
#讀取csv檔
train = pd.read_csv('1_titanic_train.csv')
# train.to_csv("1_save_test2.csv",index=True)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 處理缺失值

In [3]:
# 檢查缺失值
train.isnull().values.any()

True

In [4]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
#刪除空白資料
# train = train.dropna()
# total.shape

In [6]:
## 以數值填補
age_mean = train['Age'].mean()                     # 計算train['Age']平均值
# age_median = train['Age'].median()                 # 計算train['Age']中位數
train['Age'] = train['Age'].fillna(age_mean)       # 以平均值填入NA值

In [7]:
## 以文字填補
train.Embarked = train.Embarked.replace(np.nan, 'C')    # 將'C'填入NA值

In [8]:
#取出票號中英文字, 其餘補NoCabin 
train['Cabin'] = train['Cabin'].apply(lambda x : str(x)[0] if not pd.isnull(x) else 'NoCabin')

# 處理重複行

In [9]:
#檢查相同行
train.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [10]:
#刪除相同行
train = train.drop_duplicates()
train.shape

(891, 12)

# 特徵工程

In [11]:
#　連續擷取文字片段-1
train['P_Title'] = train['Name'].str.split(", ", expand=True)[1]
train['P_Title'] = train['P_Title'].str.split(".", expand=True)[0]

In [12]:
#組合類別特徵
# train['Sex_Embarked'] = train['Sex'] + '_' + train['Embarked']
# train['Sex_Pclass'] = train['Sex'] + '_' + (train['Pclass']).map(str)
train['Embarked_Pclass'] = train['Embarked'] + '_' + (train['Pclass']).map(str)
train['family_size']=train['Parch'] + train['SibSp']
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,P_Title,Embarked_Pclass,family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NoCabin,S,Mr,S_3,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,Mrs,C_1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NoCabin,S,Miss,S_3,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S,Mrs,S_1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NoCabin,S,Mr,S_3,0

# 特徵轉換

In [13]:
train['Sex_1'] = train['Sex']

In [14]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,P_Title,Embarked_Pclass,family_size,Sex_1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NoCabin,S,Mr,S_3,1,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,Mrs,C_1,1,female
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NoCabin,S,Miss,S_3,0,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S,Mrs,S_1,1,female
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NoCabin,S,Mr,S_3,0,male

In [15]:
# label encoding-1 自行編輯資數據
train['Sex']= train['Sex'].map({'female':0, 'male': 1}).astype(int)

In [16]:
# label encoding-2 自動轉成數字
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train.Sex_1)
train['Sex_1'] = le.transform(train.Sex_1)

In [17]:
train = pd.get_dummies(data=train,columns=["Embarked" ])   
# One hot encoding, 非關聯性類別轉數值

In [18]:
# 價格數值取log
train["Fare"] = np.log1p(train["Fare"])
# 還原log數值
# train["Fare"] = np.expm1(train["Fare"])

In [19]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,P_Title,Embarked_Pclass,family_size,Sex_1,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,2.110213,NoCabin,Mr,S_3,1,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,4.280593,C,Mrs,C_1,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,2.188856,NoCabin,Miss,S_3,0,0,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,3.990834,C,Mrs,S_1,1,0,0,0,1
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,2.202765,NoCabin,Mr,S_3,0,1,0,0,1

In [20]:
# 練習題- 請將　P_Title　/ Cabin 轉換為數值

# 提取目標值 與 欄位刪除

In [21]:
y = train['Survived']   # 將目標特徵取出
train = train.drop(['Survived'],axis=1)  # 刪除  train['Survived']

In [22]:
y.shape

(891,)

In [23]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [24]:
#刪除欄位
train = train.drop(['Name'],axis=1)
train = train.drop(['Ticket'],axis=1)
train = train.drop(['Cabin'],axis=1)
train = train.drop(['P_Title'],axis=1)
train = train.drop(['Embarked_Pclass'],axis=1)
train = train.drop(['family_size'],axis=1)
train = train.drop(['Sex_1'],axis=1)

In [25]:
train.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,1,22.0,1,0,2.110213,0,0,1
1,2,1,0,38.0,1,0,4.280593,1,0,0
2,3,3,0,26.0,0,0,2.188856,0,0,1
3,4,1,0,35.0,1,0,3.990834,0,0,1
4,5,3,1,35.0,0,0,2.202765,0,0,1

# 特徵縮放

In [26]:
#標準化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train)
train_STD=pd.DataFrame(scaler.transform(train))
train_STD.head()

,0,1,2,3,4,5,6,7,8,9
0,-1.730108,0.827377,0.737695,-0.592481,0.432793,-0.473674,-0.879741,-0.485576,-0.307562,0.619306
1,-1.726220,-1.566107,-1.355574,0.638789,0.432793,-0.473674,1.361220,2.059412,-0.307562,-1.614710
2,-1.722332,0.827377,-1.355574,-0.284663,-0.474545,-0.473674,-0.798540,-0.485576,-0.307562,0.619306
3,-1.718444,-1.566107,-1.355574,0.407926,0.432793,-0.473674,1.062038,-0.485576,-0.307562,0.619306
4,-1.714556,0.827377,0.737695,0.407926,-0.474545,-0.473674,-0.784179,-0.485576,-0.307562,0.619306

In [27]:
#正規化-1
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(train)
train_MinMax=pd.DataFrame(scaler.transform(train))
train_MinMax.head()

          0    1    2         3      4    5         6    7    8    9
0  0.000000  1.0  1.0  0.271174  0.125  0.0  0.338125  0.0  0.0  1.0
1  0.001124  0.0  0.0  0.472229  0.125  0.0  0.685892  1.0  0.0  0.0
2  0.002247  1.0  0.0  0.321438  0.000  0.0  0.350727  0.0  0.0  1.0
3  0.003371  0.0  0.0  0.434531  0.125  0.0  0.639463  0.0  0.0  1.0
4  0.004494  1.0  1.0  0.434531  0.000  0.0  0.352955  0.0  0.0  1.0

In [28]:
#正規化-2
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
scaler.fit(train)
train_NOR=pd.DataFrame(scaler.transform(train))
train_NOR.head()

,0,1,2,3,4,5,6,7,8,9
0,0.044657,0.133970,0.044657,0.982443,0.044657,0.0,0.094235,0.000000,0.0,0.044657
1,0.052176,0.026088,0.000000,0.991345,0.026088,0.0,0.111672,0.026088,0.0,0.000000
2,0.113406,0.113406,0.000000,0.982854,0.000000,0.0,0.082743,0.000000,0.0,0.037802
3,0.112691,0.028173,0.000000,0.986042,0.028173,0.0,0.112432,0.000000,0.0,0.028173
4,0.140533,0.084320,0.028107,0.983731,0.000000,0.0,0.061912,0.000000,0.0,0.028107

# 數據分割

In [29]:
from sklearn.model_selection import train_test_split

x_tra, x_val, y_tra, y_val = train_test_split(train_STD, y, random_state=42)

In [30]:
x_tra.shape

(668, 10)

In [31]:
x_val.shape

(223, 10)

In [32]:
y_tra.value_counts(normalize=False)

0    415
1    253
Name: Survived, dtype: int64

# 1 建立模型與驗證- 支援向量機, SVM

In [33]:
from sklearn import metrics
from sklearn import svm

SV = svm.SVC()
SV.fit(x_tra, y_tra)

print("Test set accuracy: {:.6f}".format(SV.score(x_val, y_val)))

# 嘗試預測 x, y

expected = y_val
predicted = SV.predict(x_val)

print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

Test set accuracy: 0.820628
             precision    recall  f1-score   support

          0       0.83      0.89      0.86       134
          1       0.81      0.72      0.76        89

avg / total       0.82      0.82      0.82       223

[[119  15]
 [ 25  64]]

# 2 建立模型與驗證- 決策樹, Decision Tree

In [34]:
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier

DC = DecisionTreeClassifier()
DC.fit(x_tra, y_tra)

print("Test set accuracy: {:.6f}".format(DC.score(x_val, y_val)))

# 嘗試預測 x, y

expected = y_val
predicted = DC.predict(x_val)

print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

Test set accuracy: 0.757848
             precision    recall  f1-score   support

          0       0.80      0.79      0.80       134
          1       0.69      0.71      0.70        89

avg / total       0.76      0.76      0.76       223

[[106  28]
 [ 26  63]]

# 3 建立模型與驗證- 隨機森林, Random Forest

In [35]:
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

RC = RandomForestClassifier()
RC.fit(x_tra, y_tra)

print("Test set accuracy: {:.6f}".format(RC.score(x_val, y_val)))

# 嘗試預測 x, y

expected = y_val
predicted = RC.predict(x_val)

print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

Test set accuracy: 0.816143
             precision    recall  f1-score   support

          0       0.83      0.87      0.85       134
          1       0.79      0.73      0.76        89

avg / total       0.81      0.82      0.81       223

[[117  17]
 [ 24  65]]

# Cross Validation 交叉驗證

In [36]:
# 自我交叉驗證, 
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
RC = RandomForestClassifier()

RCscores = cross_val_score(RC, x_tra, y_tra, cv=5)
print("Cross-validation scored: {}".format(RCscores))
print("Average cross-validation score: {:.4f}".format(RCscores.mean()))

Cross-validation scored: [0.79104478 0.81343284 0.75373134 0.77443609 0.81203008]
Average cross-validation score: 0.7889

# 以均格法搜尋最佳模型超參數

In [37]:
RC  # 檢視模型超參數

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param = {'n_estimators': [120,300,500],
         'max_depth': [1,5,8]}

grid = GridSearchCV(RandomForestClassifier(), param)
grid.fit(x_tra, y_tra)
grid.cv_results_['mean_test_score'], grid.best_params_, grid.best_score_

(array([0.77095808, 0.78143713, 0.77694611, 0.80538922, 0.80239521,
        0.80389222, 0.79790419, 0.7994012 , 0.7994012 ]),
 {'max_depth': 5, 'n_estimators': 120},
 0.8053892215568862)