# B1.初始化種群

In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression
from sklearn import metrics
import random
import string
from decimal import getcontext, Decimal

In [89]:
# 限制隨機產生資料
sample_a = random.choice([0, 9, 9.5]) 
sample_b = random.choice([0, 0.3, 0.35, 0.28, 0.38, 0.34, 0.8, 0.4, 0.36, 0.46])
print(sample_a)
print(sample_b)

9.5
0.34

In [90]:
# 隨機產生資料, 設定上下邊界, 與指定小數點位數
sample_c = Decimal(random.uniform(0.0, 12.0)).quantize(Decimal('0.0'))
sample_d = Decimal(random.uniform(0.0, 36.0)).quantize(Decimal('0.000'))
print(sample_c)
print(sample_d)

11.6
15.975

In [91]:
# 隨機產生資料
sample_e = random.randint(0,100)
sample_f = random.uniform(0,50)
print(sample_e)
print(sample_f)

100
39.86220570108935

In [108]:
# 設定初始矩陣
a_all=[]

In [117]:
a = (
     random.choice([0, 0.3, 0.35, 0.28, 0.38, 0.34, 0.8, 0.4, 0.36, 0.46]), # 限制隨機產生資料
     random.choice([0, 0.21,  0.245, 0.2,   0.3,   0.19,  0.238, 0.32,  0.25]), # 限制隨機產生資料
     random.randint(0,70),
     random.randint(0,100), # 隨機生成一個整數
     random.uniform(0,50)
     )
print(a)

(0.35, 0.3, 49, 96, 10.52477041766432)

In [118]:
a_all.append(a)
print(a_all)

[(0, 0.3, 63, 65, 36.1744738394194), (0.8, 0, 7, 100, 14.585993945548047), (0.34, 0.2, 64, 61, 42.3739444644195), (0, 0.3, 42, 42, 3.5420238608972476), (0.35, 0.3, 49, 96, 10.52477041766432)]

In [119]:
b_all = pd.DataFrame(a_all)
print(b_all)

      0    1   2    3          4
0  0.00  0.3  63   65  36.174474
1  0.80  0.0   7  100  14.585994
2  0.34  0.2  64   61  42.373944
3  0.00  0.3  42   42   3.542024
4  0.35  0.3  49   96  10.524770

In [96]:
c=0
for i in  range(0, 10):
         c=c+1
         print(c)

1
2
3
4
5
6
7
8
9
10

# 練習1 : 請產生初始種群數量為500

# B2. 設定目標函數

In [120]:
b_all.head()

      0    1   2    3          4
0  0.00  0.3  63   65  36.174474
1  0.80  0.0   7  100  14.585994
2  0.34  0.2  64   61  42.373944
3  0.00  0.3  42   42   3.542024
4  0.35  0.3  49   96  10.524770

In [121]:
#給予titl名稱
b_all.columns = ['F17','F34','F36','F341' ,'y']

In [122]:
c_all=[]
c_all=pd.DataFrame(c_all)

In [123]:
c_all['target1'] = b_all['F17'] + b_all['F34'] + b_all['F36'] + b_all['F341'] + b_all['y']

In [124]:
c_all['target2'] = b_all['F17'] * b_all['F34'] * b_all['F36'] - b_all['F341'] * b_all['y']

In [125]:
c_all.head()

      target1      target2
0  164.474474 -2351.340800
1  122.385994 -1458.599395
2  167.913944 -2580.458612
3   87.842024  -148.765002
4  156.174770 -1005.232960

# B3. 計算最佳的基因

In [129]:
#設定指定目標
target = (100,-100)

In [130]:
#計算與指定目標的差異
y= np.abs(c_all - target)

In [131]:
y.head()

     target1      target2
0  64.474474  2251.340800
1  22.385994  1358.599395
2  67.913944  2480.458612
3  12.157976    48.765002
4  56.174770   905.232960

In [133]:
#計算與指定目標的距離
yy=y/target
yy.head()

    target1    target2
0  0.644745 -22.513408
1  0.223860 -13.585994
2  0.679139 -24.804586
3  0.121580  -0.487650
4  0.561748  -9.052330

In [135]:
#計算多目標最佳解
y_eval=np.abs(yy.mean(axis=1))
y_eval.head()

0    10.934332
1     6.681067
2    12.062723
3     0.183035
4     4.245291
dtype: float64

In [137]:
y_eval = pd.DataFrame(y_eval)
y_eval.columns = ['Final_preds']
y_eval.head()

   Final_preds
0    10.934332
1     6.681067
2    12.062723
3     0.183035
4     4.245291

# B4. 組合矩陣

In [249]:
df = pd.concat([y_eval, b_all], axis=1)
df.head(10)

   Final_preds   F17  F34  F36  F341          y
0    10.934332  0.00  0.3   63    65  36.174474
1     6.681067  0.80  0.0    7   100  14.585994
2    12.062723  0.34  0.2   64    61  42.373944
3     0.183035  0.00  0.3   42    42   3.542024
4     4.245291  0.35  0.3   49    96  10.524770

# C. 以目標值排序, 給予非支配排序

In [250]:
# inplace=true, 排序後, 變更table內排序
# ascending=[True升序, False降序]
df.sort_values(by=['Final_preds'], inplace=True, ascending=[True])

df.head()

   Final_preds   F17  F34  F36  F341          y
3     0.183035  0.00  0.3   42    42   3.542024
4     4.245291  0.35  0.3   49    96  10.524770
1     6.681067  0.80  0.0    7   100  14.585994
0    10.934332  0.00  0.3   63    65  36.174474
2    12.062723  0.34  0.2   64    61  42.373944

In [253]:
df.to_csv('test.csv', index=False)
df = pd.read_csv("test.csv")

In [254]:
df.head()

   Final_preds   F17  F34  F36  F341          y
0     0.183035  0.00  0.3   42    42   3.542024
1     4.245291  0.35  0.3   49    96  10.524770
2     6.681067  0.80  0.0    7   100  14.585994
3    10.934332  0.00  0.3   63    65  36.174474
4    12.062723  0.34  0.2   64    61  42.373944

In [255]:
control_number = pd.read_csv("control.csv")
control_number.head()

   control_number
0               0
1               1
2               2
3               3
4               4

In [256]:
df2 = pd.concat([control_number, df], axis=1)
df2.head(10)

   control_number  Final_preds   F17  F34  F36  F341          y
0               0     0.183035  0.00  0.3   42    42   3.542024
1               1     4.245291  0.35  0.3   49    96  10.524770
2               2     6.681067  0.80  0.0    7   100  14.585994
3               3    10.934332  0.00  0.3   63    65  36.174474
4               4    12.062723  0.34  0.2   64    61  42.373944

In [262]:
# 放入分支配型排序專屬table, 第一次放入語法
control_table=[]
control_table =df2
control_table.head(20)

   control_number  Final_preds   F17  F34  F36  F341          y
0               0     0.183035  0.00  0.3   42    42   3.542024
1               1     4.245291  0.35  0.3   49    96  10.524770
2               2     6.681067  0.80  0.0    7   100  14.585994
3               3    10.934332  0.00  0.3   63    65  36.174474
4               4    12.062723  0.34  0.2   64    61  42.373944

In [264]:
control_table: pd.DataFrame = pd.concat([control_table, df2])
control_table.head(20)

   control_number  Final_preds   F17  F34  F36  F341          y
0               0     0.183035  0.00  0.3   42    42   3.542024
1               1     4.245291  0.35  0.3   49    96  10.524770
2               2     6.681067  0.80  0.0    7   100  14.585994
3               3    10.934332  0.00  0.3   63    65  36.174474
4               4    12.062723  0.34  0.2   64    61  42.373944
0               0     0.183035  0.00  0.3   42    42   3.542024
1               1     4.245291  0.35  0.3   49    96  10.524770
2               2     6.681067  0.80  0.0    7   100  14.585994
3               3    10.934332  0.00  0.3   63    65  36.174474
4               4    12.062723  0.34  0.2   64    61  42.373944
0               0     0.183035  0.00  0.3   42    42   3.542024
1               1     4.245291  0.35  0.3   49    96  10.524770
2               2     6.681067  0.80  0.0    7   100  14.585994
3               3    10.934332  0.00  0.3   63    65  36.174474
4               4    12.062723  0.34  0.2   64    61  42.373944

In [267]:
control_table.sort_values(by=['control_number'], inplace=True, ascending=[True])
control_table.head(20)

   control_number  Final_preds   F17  F34  F36  F341          y
0               0     0.183035  0.00  0.3   42    42   3.542024
0               0     0.183035  0.00  0.3   42    42   3.542024
0               0     0.183035  0.00  0.3   42    42   3.542024
1               1     4.245291  0.35  0.3   49    96  10.524770
1               1     4.245291  0.35  0.3   49    96  10.524770
1               1     4.245291  0.35  0.3   49    96  10.524770
2               2     6.681067  0.80  0.0    7   100  14.585994
2               2     6.681067  0.80  0.0    7   100  14.585994
2               2     6.681067  0.80  0.0    7   100  14.585994
3               3    10.934332  0.00  0.3   63    65  36.174474
3               3    10.934332  0.00  0.3   63    65  36.174474
3               3    10.934332  0.00  0.3   63    65  36.174474
4               4    12.062723  0.34  0.2   64    61  42.373944
4               4    12.062723  0.34  0.2   64    61  42.373944
4               4    12.062723  0.34  0.2   64    61  42.373944

# E1. 複製

In [ ]:
# 基因複製
df2 = df
df = pd.concat([df, df2], axis=0)

# E2. 突變

In [278]:
#按基因數目, 設定隨機參數, 取得隨機位置
bbb = [0,1,2,3,4,]
random.shuffle(bbb)
bbb = pd.DataFrame(bbb)

In [279]:
bbb.head()

   0
0  4
1  0
2  1
3  3
4  2

In [281]:
b_0 = bbb.iloc[0,0]
b_0

4

In [282]:
b_1 = bbb.iloc[1,0]
b_1

0

In [288]:
mutation = (
     random.choice([0, 0.3, 0.35, 0.28, 0.38, 0.34, 0.8, 0.4, 0.36, 0.46]), # 限制隨機產生資料
     random.choice([0, 0.21,  0.245, 0.2,   0.3,   0.19,  0.238, 0.32,  0.25]), # 限制隨機產生資料
     random.randint(0,70),
     random.randint(0,100), # 隨機生成一個整數
     random.uniform(0,50)
     )
print(mutation)

(0.34, 0, 36, 51, 36.99817877448018)

In [289]:
mutation[b_1]

0.34

In [301]:
df.head()

    F17  F34  F36  F341          y
0  0.34  0.3   42    42   3.542024
1  0.34  0.3   49    96  10.524770
2  0.80  0.0    7   100  14.585994
3  0.00  0.3   63    65  36.174474
4  0.34  0.2   64    61  42.373944

In [302]:
df = df.drop(columns=['Final_preds'])
df.head()

KeyError: "labels ['Final_preds'] not contained in axis"

In [303]:
df.iloc[0,b_1] = mutation[b_1]
df.head()

    F17  F34  F36  F341          y
0  0.34  0.3   42    42   3.542024
1  0.34  0.3   49    96  10.524770
2  0.80  0.0    7   100  14.585994
3  0.00  0.3   63    65  36.174474
4  0.34  0.2   64    61  42.373944

# E3. 交配

In [ ]:
# 三點基因互換
c = df.iloc[a_1,b_1]
df.iloc[a_1,b_1] = df.iloc[a_2,b_1]
df.iloc[a_2,b_1] = c

# J.設定進化代數, 或進化比率

Final_preds, 進化比率小於0.0001, 可提前停止迴圈, 或直到進化代數完成

In [ ]:
# 儲存種子
df.to_csv("GA-55-120-430-23-0517-2.csv", index=True)

# 考試題目

## 因為武漢肺炎, 所在國家執行全境封鎖180天
## 因應全境封鎖需要購買大量食物
## 你的家庭共有三人, 每日需要熱量6500卡路里
## 請達成以下三個目標
## 1. 計算每樣食物需要採購的數量
## Target_A. 食物數量＊卡路里 ~ 接近1,170,000
## Target_B. 食物數量＊幸福感 ~ 接近0.8
## Target_C. 所需金額為相對 ~ 接近135,000 NTD
## 2. 最終函數比重為= A*0.35 +B*0.35 + C*0.3

In [5]:
Food_index = pd.read_csv("Food_index.csv", encoding='big5hkscs')
Food_index.head()

  Unnamed: 0  飯/麵   牛排    牛肉   豬肉   泡麵   蛋  咖啡   可樂   牛奶   餅乾
0     金額 NTD   10  157   160  134   30   5  25   25   38   38
1        卡路里  225  660  1400  900  403  80  63  136  225  630
2        幸福感    1   10     7    6    2   6   9    9    4    5